<div id="pageoptions">
	<ul>
		<li><a href="/authentication/logout">Logga ut</a></li>
		<li><a href="/#" id="wl_config">Byt verksamhet</a></li>
		<li><a href="/user/view">Konto</a></li>

		<?php if($roleVal >= $adminVal) { ?>
		
			<li class="fl"><a href="/system">Systeminställningar</a></li>

		<?php } ?>

	</ul>
	<div>
		<h3>Välj verksamhet</h3>
		<p>
			<h5>Vilken verksamhet vill du hantera?</h5>
			<ul>
				
				<?php
					$i = 0;
					foreach($businesses as $business) {
						if($business['business_id'] == $_SESSION['business']) {
							$i++;
							$businessName = $business['business'];
				?>

					<li><a href="/authentication/business/<?= $business['business_id']; ?>" class="active"><?= $business['business']; ?></a></li>

				<?php } else { ?>

					<li><a href="/authentication/business/<?= $business['business_id']; ?>"><?= $business['business']; ?></a></li>
					
				<?php
						}
					}

					// if access to business is denied
            		$userRole = Zend_Auth::getInstance()->getStorage()->read()->role;
					if(!$i && !($userRole == 'god' || $userRole == 'master')) {
                    	header('Location: /authentication/logout');
					}
				?>

			</ul>
		</p>
	</div>
</div>

<header>
	<div id="logo">
		<a href="/"><?= (isset($businessName) ? $businessName : ''); ?></a>
	</div>
	<div id="header">

	</div>
</header>