/*----------------------------------------------------------------------*/
/* Import
/*----------------------------------------------------------------------*/

@import "default.less";

/*----------------------------------------------------------------------*/
/* Custom classes
/*----------------------------------------------------------------------*/

body {
	padding-top: 20px;
}

body#error {
	position: relative;
	width: auto !important;
	margin-top: 0;
	padding-top: 20px;
	margin-left: 10%;
	margin-right: 10%;

	#content {
		padding: 15px 5px 15px 230px;
	}
}

.table-unstyled {

	td, th {
		border: none;
		background: none;
		text-align: left;
	}
}

.pull-right {
	float: right;
}

.align-left {
	text-align: left !important;
}

.align-right {
	text-align: right !important;
}

.align-center {
	text-align: center !important;
}

#logo, #logo a{
	background: none;
	text-indent: 0px;
	text-shadow: none !important;
	color: inherit !important;
}

#authentication {
	position: static;
	left: auto;
	right: auto;
	width: 350px;
	margin: 120px auto;
	padding: 2%;

	#content {
		min-height: 50px;
		padding: 8px;
	}
	form label {
		padding: 0;
		margin: 0;
		width: 100%;
	}
	form section {
		width: 100%;
	}
	form section div {
		width: 90%;
		float: none;
		padding: 0 4% 6px 4%;
		border: 0;
	}
	form section > div {
		width: 90% !important;
	}
	form section div input {
		width: 100% !important;
	}
	form section div input#remember {
		width: auto !important;
	}
	form section div.checker {
		width: auto !important;
		padding: 0;
		margin: 0;
	}
	form section label {
		padding: 3% 2% 1%;
		width: 90% !important;
		float: none;
	}
	form section label.checkbox div {
		width: 10px;
		padding: 0;
		margin: 0;
	}
	form section div label {
		width: 80% !important;
	}
	form section a {
		float: right;
	}
}

.total_due {
	border-top: 1px solid;
}

/*----------------------------------------------------------------------*/
/* View invoice
/*----------------------------------------------------------------------*/

#invoice.view {
	span {
		display: block;
	}

	.invoice-table {
		.header {
			border-bottom: 1px solid;
		}

		.space {
			td {
				padding-top: 100px;
			}
		}

		.total {
			border-top: 1px solid;
		}
	}
}

/*----------------------------------------------------------------------*/
/* Page options
/*----------------------------------------------------------------------*/

#pageoptions {
	.active {
		font-weight: bold;
	}
}




/*----------------------------------------------------------------------*/
/* Table
/*----------------------------------------------------------------------*/

.datatable tr {
	background-repeat: repeat-x;

	td {
		background-size: 40px 40px !important;
	}
	&.clickable {
		cursor: pointer;
	}

	&.even {
		td {
			background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
		}
		&:hover td{
			background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
		}
	}
	&.odd {
		td {
			background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
		}
		&:hover td{
			background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
		}
	}

	&.red {
		td {
			background-color: #f0a8a8 !important;
		}
	}
	&.blue {
		td {
			background-color: #d3d6ff !important;
		}
	}
	&.green {
		td {
			background-color: #a2e8a2 !important;
		}
	}
	&.yellow {
		td {
			background-color: #f0efa8 !important;
		}
	}
	&.orange {
		td {
			background-color: #f0cca8 !important;
		}
	}

	&.even td.sorting_1 {
		background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.3) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 75%, transparent 75%, transparent) !important;
	}
	&.odd td.sorting_1 {
		background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.3) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 75%, transparent 75%, transparent) !important;
	}
}

nav ul li ul {
	padding-bottom: 10px;
	margin-bottom: 0px
}