/*----------------------------------------------------------------------*/
/* Import
/*----------------------------------------------------------------------*/

@import "default.less";

/*----------------------------------------------------------------------*/
/* Custom classes
/*----------------------------------------------------------------------*/

body {
	padding-top: 20px;
}

#logo {
	background: none;
}

/*----------------------------------------------------------------------*/
/* Login
/*----------------------------------------------------------------------*/

body#authentication{
	position:static;
	left:auto;
	right:auto;
	width:350px;
	margin:120px auto;
	padding:2%;
}
body#authentication #content{
	min-height:50px;
	padding:8px;
}
body#authentication form label{
	padding:0;
	margin:0;
	width:100%;
}
body#authentication form section{
	width:100%;
}
body#authentication form section div{
	width:90%;
	float:none;
	padding:0 4% 6px 4%;
	border:0;
}
body#authentication form section > div{
	width:90% !important;
}
body#authentication form section div input{
	width:100% !important;
}
body#authentication form section div input#remember{
	width:auto !important;
}
body#authentication form section div.checker{
	width:auto !important;
	padding:0;
	margin:0;
}
body#authentication form section label{
	padding:3% 2% 1%;
	width:90% !important;
	float:none;
}
body#authentication form section label.checkbox div{
	width:10px;
	padding:0;
	margin:0;
}
body#authentication form section div label{
	width:80% !important;
}
body#authentication form section a{
	float:right;
}